{
  "root":    true,
  "extends": [
    "eslint:recommended",
    "standard",
  ],
  "rules": {
    "no-console": "off",
    "no-tabs":    [
      "error",
      {
        "allowIndentationTabs": true,
      },
    ],
    "indent": [
      "error",
      4,
    ],
    "space-before-function-paren": [
      "error",
      {
        "named":      "never",
        "anonymous":  "always",
        "asyncArrow": "always",
      },
    ],
    "prefer-const": [
      "error",
      {
        "destructuring":          "any",
        "ignoreReadBeforeAssign": false,
      },
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": false,
      },
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": true,
      },
    ],
    "no-unused-vars": "off",
  },
}
